.dashboard-container {
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c62828; /* Darker red */
}
